variables:
    GHIDRA_PLUGIN_BUILDER: registry.gitlab.com/torgo/ghidra-container/ghidra-plugin-builder

.build:
    image: ${GHIDRA_PLUGIN_BUILDER}:${GHIDRA_VERSION}
    tags:
        - docker
    script:
        - cd FindCrypt
        - gradle
    artifacts:
        paths:
            - FindCrypt/dist/*.zip

Ghidra 10.0.2:
    extends: .build
    variables:
        GHIDRA_VERSION: "10.0.2"

Ghidra 10.0.1:
    extends: .build
    variables:
        GHIDRA_VERSION: "10.0.1"

Ghidra 10.0.0:
    extends: .build
    variables:
        GHIDRA_VERSION: "10.0"

Ghidra 10.0.0_beta:
    extends: .build
    variables:
        GHIDRA_VERSION: "10.0.0-beta"

Ghidra 9.2.4:
    extends: .build
    variables:
        GHIDRA_VERSION: "9.2.4"

Ghidra 9.2.2:
    extends: .build
    variables:
        GHIDRA_VERSION: "9.2.2"

Ghidra 9.2.1:
    extends: .build
    variables:
        GHIDRA_VERSION: "9.2.1"

Ghidra 9.2:
    extends: .build
    variables:
        GHIDRA_VERSION: "9.2"

# Ghidra versions prior to 9.2 lack the Gson JSON library, and are not supported.
